<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<table id="toursTable">
    <thead>
        <td>Create a tour for <%= @current_company.name %></td>
    </thead>
    <tbody>
        <% @current_company.tours.each do |t| %>
            <tr id="tour_tr_<%= t.id %>">
                <td>
                    <%= t.property.street_address %>
                </td>
                <td>
                    <%= t.tourTime %>
                </td>
                <td>
                    <%= t.attending %>
                </td>
                <td>
                    <a>Reschedule</a> |
                    <a>Cancel</a>
                </td>
            </tr>
        <% end %>
        <tr id="addNewTour">
            <td id="addNewTourProperty">
                <select id="addNewTourPropertySelect">
                    <% @current_company.properties.each do |property| %>
                        <option value="<%= property.id %>"><%= property.street_address %></option>
                    <% end %>
                </select>
            </td> <!-- for now just one property per showing -->
            <td id="addNewTourTime">
                <select id="addNewTourStartTimeSelect">
                    <option>Select a start time</option>
                    <option value="04/07/2016">Dummy Start Time</option>
                </select>
                <select id="addNewTourDurationSelect">
                    <option value="1">1 hr</option>
                </select>
            </td>
            <td id="addNewTourAttending">
                <span id="addNewTourAttendingSpan">
                    
                </span>
                <input id="addNewTourAttendingInput" type="text" placeholder="Invite Guests Here" />
            </td>
            <td id="addNewTourControls">
                <button id="addNewTourScheduleButton">Schedule!</button>
            </td>
        </tr>
    </tbody>
</table>
<style>
html, body {
    overflow-x: scroll;
}
#toursTable td{
    border: 1px solid #DCDCDC;
}
</style>
<script>
callService = function(t, u, d, successHandler, failHandler) {
  $.ajax({
    type: t,
    contentType : 'application/json',
    url: u,
    dataType: "json",
    data: d,
    success: successHandler,
    error: failHandler
  });
}
genericError = function(e) {
  console.log(e);
}
madeTour = function(result) {
    console.log(result);
    location.reload();
}
$(document).ready(function(){
    $("#addNewTourAttendingInput").keyup(function(event){
        if(event.keyCode == 13){ // enter key
            var newAttending = $("#addNewTourAttendingInput").val();
            // validation here
            var content = "<span>"+newAttending+"</span>";
            if ( $("#addNewTourAttendingSpan").children().length == 0 ) {
                $("#addNewTourAttendingSpan").append(content);
            }
            else {
                $("#addNewTourAttendingSpan").append(","+content);
            }
            $('#addNewTourAttendingInput').val("");
        }
    });
    $('#addNewTourScheduleButton').click(function(){
        // marshall up all of the parameters
        var propertyId  = $('#addNewTourPropertySelect').val();
        var tourTime    = $('#addNewTourPropertySelect').val();
        var tourDuration= $('#addNewTourDurationSelect').val();
        var attending   = $('#addNewTourAttendingSpan').val();
        var attendingStrs       = [];
        var attendingChildren   = $("#addNewTourAttendingSpan").children();
        for (var i = 0; i < attendingChildren.length; ++i) {
            var attendingISpan = attendingChildren[i];
            attendingStrs[attendingStrs.length] = attendingISpan.textContent;
        }
        attendingStrs   = attendingStrs.join("-_-");
        var tourJson    = {};
        tourJson["tour"]= {};
        tourJson["tour"]["property"]    = parseInt(propertyId);
        tourJson["tour"]["attending"]   = attendingStrs;
        tourJson["tour"]["tourTime"]    = tourTime;
        tourJson["tour"]["tourDuration"]= parseInt(tourDuration);
        callService('POST','/tours.json',JSON.stringify(tourJson),madeTour,genericError);
    });
});
</script>